<section class="wish_wrapper" #swipeWrapper>
  <ion-content>
    <div class="image_block">
      <div
        class="image_wrapper"
        [ngClass]="{
          dashed_border: !wish.Image
        }"
      >
        <input
          #fileUpload
          class="hidden"
          type="file"
          accept=".jpg, .png, .jpeg"
          (change)="onWishImageChange($event)"
        />
        <img
          #wishImage
          *ngIf="wish.Image; else addImage"
          [src]="wish.Image"
          (click)="owner && fileUpload.click()"
          [id]="owner ? '' : 'open-image'"
        />
        <ion-modal trigger="open-image" #viewImageModal>
          <ng-template>
            <img [src]="wish.Image" (click)="closeViewImageModal()" />
          </ng-template>
        </ion-modal>
        <ng-template #addImage>
          <div class="add_image" (click)="owner && fileUpload.click()">
            <img [src]="ADD_IMAGE" />
            {{ "Add an image" | translate }}
          </div>
        </ng-template>
      </div>
    </div>
    <ion-header class="wish_name">
      <span *ngIf="!owner; else nameEdit">
        {{ wish.Wish }}
      </span>

      <ng-template #nameEdit>
        <span class="edit">
          <span class="edit_input_wrapper">
            <ion-input
              class="edit_input"
              [value]="wish.Wish"
              [placeholder]="'Enter your wish' | translate"
              [ngStyle]="{ color: error ? 'red' : '' }"
              (ionChange)="onWishNameChange($event)"
            ></ion-input>
          </span>
          <img [src]="EDIT" class="edit_icon" />
        </span>
      </ng-template>
    </ion-header>

    <ion-list class="description_list">
      <ion-item *ngIf="wish.Login && wish.Owner" class="description_item">
        <span class="description_item__name"> {{ "Owner" | translate }}: </span>
        <span
          class="description_item__content"
          (click)="openOwner()"
          *ngIf="!wish.Anonymous || owner; else anonymous"
        >
          <ion-avatar class="avatar">
            <img [src]="ownerInfo?.Avatar ?? AVATAR" />
          </ion-avatar>
          {{ wish.Login }} (#{{ wish.Owner }})
        </span>
        <ng-template #anonymous>
          <span class="anonymous">{{ "Anonymous" | translate }}</span>
        </ng-template>
      </ion-item>

      <ion-item *ngIf="wish.Description || owner" class="description_item">
        <span class="description_item__name">
          {{ "Description" | translate }}:
        </span>
        <ion-textarea
          class="description_item__content description"
          [readonly]="!owner"
          [placeholder]="'Description' | translate"
          [value]="wish.Description"
          (ionChange)="onWishDescriptionChange($event)"
        >
        </ion-textarea>
      </ion-item>

      <ion-item
        *ngIf="(wish.Price && wish.Price !== -1) || owner"
        class="description_item"
      >
        <span class="description_item__name"> {{ "Price" | translate }}: </span>
        <ion-input
          class="description_item__content"
          type="number"
          [value]="wish.Price === -1 ? '' : wish.Price"
          [placeholder]="'Unknown' | translate"
          [readonly]="!owner"
          (ionChange)="onWishPriceChange($event)"
        >
        </ion-input>
      </ion-item>

      <ion-item *ngIf="wish.Link || owner" class="description_item">
        <span class="description_item__name"> {{ "Link" | translate }}: </span>
        <span class="description_item__content link" color="success" readonly>
          <ion-input
            class="link"
            [value]="wish.Link"
            [placeholder]="'Link' | translate"
            [readonly]="!owner"
            (ionChange)="onWishLinkChange($event)"
          >
          </ion-input>
          <img (click)="openLink(wish.Link)" [src]="EXTERNAL_LINK" />
        </span>
      </ion-item>
      <ion-item *ngIf="owner" class="description_item">
        <span class="description_item__name">
          {{ "Anonymously" | translate }}:
        </span>
        <span class="description_item__content" color="success">
          <ion-checkbox
            [checked]="wish.Anonymous"
            (ionChange)="onWishAnonymouslyChange($event)"
          ></ion-checkbox>
        </span>
      </ion-item>
      <ion-item
        *ngIf="(wish.HidingDate && wish.HidingDate !== '') || owner"
        class="description_item"
      >
        <span class="description_item__name">
          {{ "Hiding date" | translate }}:
        </span>
        <span class="description_item__content" color="success">
          <ion-input
            [value]="
              wishFormattedHidingDate ? wishFormattedHidingDate : 'Not assigned'
            "
            id="date"
          ></ion-input>
          <ion-modal trigger="date" #setHidingDateModal>
            <ng-template>
              <ion-datetime
                presentation="date-time"
                color="primary"
                (ionChange)="onWishHidingDateChange($event)"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </span>
      </ion-item>
      <ion-item class="free_item"></ion-item>
    </ion-list>
  </ion-content>
</section>

<div class="close_button_wrapper">
  <img [src]="CLOSE" (click)="close()" />
</div>

<div class="save_button_wrapper">
  <img [src]="CHECK" (click)="submit()" *ngIf="owner" />
</div>

<ion-button
  class="delete_button_wrapper"
  color="danger"
  *ngIf="owner && wish.ID !== -1"
>
  <img [src]="DELETE" (click)="deleteWish()" />
</ion-button>
