/* You can add global styles to this file, and also import other style files */
html {
    --background-color: rgb(40, 40, 40);
    --around-background-color: rgb(38, 38, 38);
    --ion-background-color: var(--background-color);
    --ion-color-secondary: #3dc2ff;
    --ion-color-primary: #3880ff;
    --ion-text-color: white;
}

.alert {
    --background: var(--background-color);
    --border-radius: 5px;
}