.main_wrapper {
  height: 100%;
  width: 100%;
}

.invert {
  filter: invert(1);
}

.add_wish_button_wrapper {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 36px;
  bottom: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
  }
}

