.main_wrapper {
    height: 100%;
    width: 100%;

    .list-header {
        color: white;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        
        .open_common_link {
            padding-right: 12px;
        }
    }

    .wish_item {
        padding-top: 6px;
        .avatar {
            .img_wrapper {
                background-color: white;
                height: 50px;
                width: 50px;
                border-radius: 25%;
                position: relative;
                bottom: 8px;
                .image {
                    height: 100%;
                    width: 100%;
                    border-radius: 15%;
                    object-fit: cover;
                }
            }
        }
        .description {
            .owner {
                color: rgb(163, 163, 163);
                position: relative;
                left: 18px;
                bottom: 4px;
            }
            .title {
                color: white;
            }
        }
        
    }

    .no-wishes {
        text-align: center;
        font-size: 18px;
        color: white;
        padding: 12px;
    }
}

.invert {
    filter: invert(1);
}

.add_wish_button_wrapper {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 36px;
    bottom: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        height: 100%;
        width: 100%;
    }
}