.profile_wrapper {
  height: 100%;
  width: 100%;

  .image_block {
    padding: 12px;
    padding-bottom: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .image_wrapper {
      min-width: 150px;
      max-width: 300px;
      padding: 12px;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      img {
        border-radius: 5%;
        object-fit: cover;
      }
      .add_image {
        padding: 12px;
        width: 200px;
        text-align: center;
        color: white;
        font-size: 18px;

        img {
          width: 120px;
          padding: 12px;
        }
      }
    }

    .image_wrapper.dashed_border {
      border: dashed gray;
      border-radius: 15%;
    }
  }

  .wish_name {
    color: #2dd36f;
    text-align: center;
    font-size: 20px;
    padding: 8px;

    .input_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .input {
        width: min-content;
        min-width: 250px;
      }
    }
  }

  .description_list {
    .description_item {
      padding: 0 16px;

      ::ng-deep {
        .textarea-wrapper {
          width: 100%;
          padding: 0 12px;
        }
      }

      .wish_list {
        width: 100%;
        padding: 8px;
      }
      &__name {
        color: white;
        align-items: center;
        display: flex;
      }

      &__content {
        margin-left: 18px;
        color: #2dd36f;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .avatar {
          padding: 12px;
        }
        .link {
          width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      &__content.link {
        img {
          height: 24px;
          margin-bottom: 4px;
          margin-left: 12px;
        }
      }
      &__content.description {
        margin: 0;
        width: 100%;
      }
    }

    .free_item {
      height: 75px;
      --border-color: rgba(0, 0, 0, 0);
    }
  }
}

.save_button_wrapper {
  height: 50px;
  width: 150px;
  position: absolute;
  right: 12px;
  bottom: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    height: 100%;
    width: 50%;
  }
}

.logout_button_wrapper {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 24px;
  right: 12px;
  --border-radius: 50%;
  --padding-end: 8px;
  --padding-start: 8px;
  img {
    height: 100%;
    transform: scale(-1, 1);
  }
}

.hidden {
  display: none;
}

